@model eclectica.co.uk.Web.Models.EntryViewModel

@using System.Text.RegularExpressions

@{
    ViewBag.Title = ((Model.Entry.Title != null && Model.Entry.Title != "") ? Model.Entry.Title : Model.Entry.Published.ToString("dddd dd MMMM yyyy hh:mm")) + " - Eclectica";
    ViewBag.Description = Regex.Replace(Regex.Matches(Model.Entry.Body, "<p>(.*?)</p>", RegexOptions.Singleline | RegexOptions.IgnoreCase)[0].Groups[1].Value, @"<(.|\n)+?>", @"");
    Layout = "~/Views/Shared/" + ((Model.Mobile) ? "Mobile" : "Main") + "Layout.cshtml";
}

@section head {

<script type="text/javascript" src="/scripts/entry.js"></script>
<script type="text/javascript" src="/scripts/thumbtips.js"></script>

}

@section content {

    <p class="postdate">@Model.Entry.Published.ToString("dddd dd MMMM yyyy")</p>
				        
	    <div class="post" id="post@(Model.Entry.EntryID)">
					        
		    <div class="postcontent">
			    @if (Model.Entry.Title != "")
       {
                    <h1><a href="/@Model.Entry.Url">@Model.Entry.Title</a></h1>
       }
                
                @Html.Raw(Model.Entry.Body)
                
		    </div>
		    <div class="postcontrols">
			    <p>By @Model.Entry.Author.Name @@ @Model.Entry.Published.ToString("HH:mm")</p>
			    <p class="cl"><a title="Comment on this" href="/@Model.Entry.Url#comment-form">Comment on this</a> <span>(@Model.Entry.CommentCount)</span></p>
						        
                <div class="sharing">

                    @{ var url = "http://eclectica.co.uk/" + Model.Entry.Url; }

                    <div class="facebook-button"><iframe src="http://www.facebook.com/plugins/like.php?href=@url&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></div>

                    <div class="twitter-button"><a href="http://twitter.com/share" class="twitter-share-button" data-url="@url" data-text="@((Model.Entry.Title != "") ? Model.Entry.Title : Model.Entry.Published.ToString("dddd MM yyyy"))" data-count="horizontal" data-via="eclecticablog">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>

                    <div class="stumbleupon-button"><script src="http://www.stumbleupon.com/hostedbadge.php?s=1&r=@url"></script></div>
    
                    <div class="googleplus-button"><g:plusone size="medium" href="@url"></g:plusone></div>

                </div>

				    <p>Filed under:</p>
				    <ul>
				    @foreach(var tag in Model.Entry.Tags) {

					    <li><a href="/tags/@tag.TagName">@tag.TagName.Capitalise()</a></li>

					}
				    </ul>
		    </div>
		    <div class="pclr">&nbsp;</div>
	    </div>

        @{ var count = 0; }

        @if(Model.Entry.Related.Count > 0) {
            
        <h2 class="postdate">Some other articles you might be interested in</h2>
		<div id="relatedposts">
            
            @foreach(var entry in Model.Entry.Related)
            {
                count++;
                
                <div@Html.Raw(((count % 7) == 0) ? " class=\"r\"" : "") style="background-image: url(@ConfigurationManager.AppSettings["CDN1"]/content/img/@entry.Thumbnail);"><a href="/@entry.Url">@EntryHelpers.GetCaption(entry.Title, entry.Body)</a></div>
            }
            <div class="clr">&nbsp;</div>
        </div>
        }

        @if(Model.Entry.Comments.Count > 0) {
        <div id="comments">
			<h2 class="postdate">Comments</h2>
 
                @foreach(var comment in Model.Entry.Comments)
                {

            <div class="comment" id="comment@(comment.CommentID)">
            <div class="postcontent">
            @Html.Raw(comment.Body.FormatComment())
            </div>
                <div class="postcontrols">
	                <p>By 
                    @if(comment.Url != null && comment.Url != "") {
                        <a href="@((!comment.Url.StartsWith("http://")) ? "http://" : "")@comment.Url">@comment.Name</a>
                        } else {
                        @comment.Name
                    }
                        @@ @comment.Date.ToString("HH:mm")
                    <br /><a title="Permalink to this comment" href="@(Request.Url.AbsoluteUri)#comment@(comment.CommentID)">Link</a></p>
                </div>
                           
                <div class="pclr">&nbsp;</div>
            </div>
		                
		        }
        </div>
            }
            
            <h2 class="postdate">Add your comment:</h2>

            @using(Html.BeginForm("Detail", "Entry", FormMethod.Post, new { id = "comment-form" })) {
				           
                <p>@Html.LabelFor(x => x.Comment.Name)
                @Html.TextBoxFor(x => x.Comment.Name)
                @Html.ValidationMessageFor(x => x.Comment.Name)</p>
                
                <p>@Html.LabelFor(x => x.Comment.Email)
                @Html.TextBoxFor(x => x.Comment.Email)
                @Html.ValidationMessageFor(x => x.Comment.Email)</p>
                
                <p>@Html.LabelFor(x => x.Comment.Url)
                @Html.TextBoxFor(x => x.Comment.Url)
                @Html.ValidationMessageFor(x => x.Comment.Url)</p>
                
                <p>@Html.LabelFor(x => x.Comment.RawBody)
                @Html.TextAreaFor(x => x.Comment.RawBody)
                @Html.ValidationMessageFor(x => x.Comment.RawBody)</p>
                
			    <p>@Html.LabelFor(x => x.X7fw91Do)
                @Html.TextBoxFor(x => x.X7fw91Do)
                @Html.ValidationMessageFor(x => x.X7fw91Do)</p>
                
			    <p>@Html.HiddenFor(x => x.Entry.EntryID)
                @Html.HiddenFor(x => x.Entry.Url)
                @if (!ViewData.ModelState.IsValid)
                {
                    <input type="hidden" name="ScrollToForm" id="ScrollToForm" value="1" />
                }

			    <input type="submit" id="SubmitButton" name="SubmitButton" value="Submit Comment" /></p>
            }

		<p class="note"><em>Please Note</em>: Your comment might not appear immediately after submission, but rest assured it'll pop up soon.</p>
}