@model eclectica.co.uk.Web.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.Description = "A daily blog about art, design, photography, architecture, technology, writing, music, electronics, and all things web.";
    ViewBag.Keywords = "web, design, photography, architecture, art, technology, writing, music, electronics";
    Layout = "~/Views/Shared/MainLayout.cshtml";

    ViewBag.HeaderH1 = true;
}

@section head {
    
    

}

@section content {
    
    @foreach (var entry in Model.Entries)
    {
     
        <p class="postdate">@entry.Published.ToString("dddd dd MMMM yyyy")</p>
				        
	    <div class="post" id="post@(entry.EntryID)">
					        
		    <div class="postcontent">
			    @if (entry.Title != "")
       {
                    <h2><a href="/@entry.Url">@entry.Title</a></h2>
       }
                
                @Html.Raw(entry.Body)
                
		    </div>
		    <div class="postcontrols">
			    <p>By @entry.Author.Name @@ @entry.Published.ToString("HH:mm")</p>
			    <p class="cl"><a title="Comment on this" href="/@entry.Url/#commentform">Comment on this</a> <span>(@entry.CommentCount)</span></p>
						        
                <div class="sharing">

                    @{ var url = "http://eclectica.co.uk/" + entry.Url; }

                    <div class="facebook-button"><iframe src="http://www.facebook.com/plugins/like.php?href=@url&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></div>

                    <div class="twitter-button"><a href="http://twitter.com/share" class="twitter-share-button" data-url="@url" data-text="@((entry.Title != "") ? entry.Title : entry.Published.ToString("dddd MM yyyy"))" data-count="horizontal" data-via="eclecticablog">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>

                    <div class="stumbleupon-button"><script src="http://www.stumbleupon.com/hostedbadge.php?s=1&r=@url"></script></div>
    
                </div>

				    <p>Filed under:</p>
				    <ul>
				    @foreach(var tag in entry.Tags) {

					    <li><a href="/tags/@tag.TagName/">@tag.TagName.Capitalise()</a></li>

					}
				    </ul>
		    </div>
		    <div class="pclr">&nbsp;</div>
	    </div>
        
    }

    <p><b>

	<a href="/p/@(Model.CurrentPage + 1)">Older Posts</a> &nbsp;&nbsp;
		
    @if(Model.CurrentPage > 0) {
            
        if(Model.CurrentPage == 1) {
		        
        <a href="/">Newer Posts</a>
                              
		} else {
            
		<a href="/p/@(Model.CurrentPage - 1)">Newer Posts</a>
            
        }                                             
	}
	</b></p>

}