@model eclectica.co.uk.Web.Models.EntryManageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {

    <script type="text/javascript">

        $(function () {

            $('.delete-link').bind('click', function () {

                return confirm('Are you sure?');

            });

        });

    </script>

}

@section content {

	<div class="post">
	    <h1>Manage Posts</h1>

        <p>@Html.ActionLink("Create new Entry", "Create") &raquo;</p>

        @if(Model.Entries.Count() > 0) 
        {
            <table id="postmanager">
            <tr>
                <th>Title</th>
                <th style="width: 60px;">Link</th>
                <th style="width: 90px;">Edit</th>
                <th style="width: 75px;">Publish</th>
            </tr>

            @foreach(var entry in Model.Entries)
            {
                <tr@((entry.Publish == true) ? "" : " class=\"unpublished\"")>
                    <td>@EntryHelpers.GetCaption(entry.Title, entry.Body)</td>
                    <td><a onclick="window.open(this.href); return false;" href="/@entry.Url/">Show</a> &raquo;</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = entry.EntryID }, null) | @Html.ActionLink("Delete", "Delete", new { id = entry.EntryID }, new { @class = "delete-link" })</td>
                    <td>
                        @if(!entry.Publish) {
                            @Html.ActionLink("Publish", "Publish", new { id = entry.EntryID }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Unpublish", "Unpublish", new { id = entry.EntryID }, null)
                        }
                    </td>
                </tr>
            
            }
            
            </table>
        }

    </div>

}