@using System.Configuration;
@using MvcMiniProfiler;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>@ViewBag.Title</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="content-language" content="en-gb" />
		<link rel="shortcut icon" href="/content/img/site/favicon.ico" />

		<meta name="description" content="@ViewBag.Description" />
        <meta name="keywords" content="@ViewBag.Keywords" />
		
		<!-- BlogCatalog Meta Tag -->
		<meta name="blogcatalog" content="9BC9221040" />
		<!-- BlogLines Claim Code -->
		<!-- ukey="2556BE5B" -->
		
        <!--[if gt IE 6]><!-->
        <link rel="stylesheet" type="text/css" href="@ConfigurationManager.AppSettings["CDN1"]/content/css/screen.css" />
        <!--<![endif]-->

		<link rel="alternate" type="application/rss+xml" title="Latest 10 Items" href="http://eclectica.co.uk/feed/main" />

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: false)

        <script type="text/javascript">

            function addMobileBanner() {
                
                var html = '<div id="mobile-site-banner">' + 
                               '<p><a href="http://m.eclectica.co.uk@(Request.Url.AbsolutePath)">' + 
                                   '<span>Using a mobile device? Click here to visit the mobile-optimised site.</span>' + 
                               '</a></p>' + 
                           '</div>';

                $('body').append(html);
            }

            $(function () {

                (function (a) { if (/android.+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|e\-|e\/|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(di|rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|xda(\-|2|g)|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) addMobileBanner() })(navigator.userAgent || navigator.vendor || window.opera);

            });

        </script>

        @RenderSection("head", false)
	</head>
	<body id="index">
		<div id="header">
	        <a id="logo" href="/" title="Eclectica Home Page" ><img src="@ConfigurationManager.AppSettings["CDN1"]/content/img/site/logo.gif" alt="Eclectica Home Page" width="74" height="74" /></a>
	        @if (ViewBag.HeaderH1 != null)
         {
	        <h1>This is a blog about the things I enjoy: <a href="/tags/art">art</a>, <a href="/tags/design">design</a>, 
	        <a href="/tags/architecture">architecture</a>, <a href="/tags/photography">photography</a>, <a href="/tags/writing">writing</a>, 
	        <a href="/tags/music">music</a>, <a href="/tags/electronics">electronics</a>, <a href="/tags/technology">technology</a>, 
	        and all things <a href="/tags/web">web</a>.</h1>
	        }else{
	        <p>This is a blog about the things I enjoy: <a href="/tags/art">art</a>, <a href="/tags/design">design</a>, 
	        <a href="/tags/architecture">architecture</a>, <a href="/tags/photography">photography</a>, <a href="/tags/writing">writing</a>, 
	        <a href="/tags/music">music</a>, <a href="/tags/electronics">electronics</a>, <a href="/tags/technology">technology</a>, 
	        and all things <a href="/tags/web">web</a>.</p>
             }
        </div>
		<div id="content">

		    @RenderSection("content", false)

		</div>
		<div id="navigation">
		<h3>Navigate</h3>
		<div>
		<ul id="mainnav">
		<li><a href="/random">View A Random Post</a></li>
        <li><a href="/2012/@DateTime.Now.ToString("MM")">Posts from 2012</a></li>
        <li><a href="/2011/12">Posts from 2011</a></li>
		<li><a href="/2010/12">Posts from 2010</a></li>
		<li><a href="/2009/12">Posts from 2009</a></li>
		<li><a href="/tags">Categories</a></li>
        <li><a href="/links">Art &amp; Design Links</a></li>
        <li><a href="/about">About Eclectica</a></li>
        
	</ul>
	
	<form id="search" action="/search">
	    <p><input type="text" name="query" id="query" value="Search the site..." /></p>
	</form></div>
	<h3>Keep Up To Date</h3>
	<div>
    
	<ul id="social">	
		<li id="rss"><a href="/feed/main">Subscribe via RSS</a></li>
		<li id="twitter"><a href="http://twitter.com/eclecticablog" class="twitter-follow-button">Follow @@eclecticablog</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script></li>
		<li id="facebook"><iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feclecticablog&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe></li>
	</ul>
    
	</div>
	
	@{ Html.RenderAction("RecentEntries", "Entry"); }
	
	<h3 id="tweetheader">Latest from <a href="http://twitter.com/eclecticablog">@@eclecticablog</a></h3>
	<div id="tweets">
	    <p>Fetching tweets...</p>
	</div>
	<div class="nclr">&nbsp;</div>
		</div>
		<div class="clr">&nbsp;</div>
		<div id="footer">
	        <p id="copyright">&copy; 2009 <a href="http://markashleybell.com/">Mark Ashley Bell</a></p>
        </div>
		<script type="text/javascript" src="@ConfigurationManager.AppSettings["CDN1"]/scripts/load.js"></script>
        <script type="text/javascript" src="@ConfigurationManager.AppSettings["CDN1"]/scripts/mustache.js"></script>
		<script type="text/javascript" src="@ConfigurationManager.AppSettings["CDN1"]/scripts/search.js"></script>
		@if (!Convert.ToBoolean(ConfigurationManager.AppSettings["LocalTestMode"]))
        {
      
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@ConfigurationManager.AppSettings["AnalyticsID"]']);
            _gaq.push(['_setDomainName', 'eclectica.co.uk']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
      
        <!-- Start of Woopra Code -->
        <script type="text/javascript">
            var woo_settings = { idle_timeout: '60000', domain: 'eclectica.co.uk' };
            (function () {
                var wsc = document.createElement('script');
                wsc.src = document.location.protocol + '//static.woopra.com/js/woopra.js';
                wsc.type = 'text/javascript';
                wsc.async = true;
                var ssc = document.getElementsByTagName('script')[0];
                ssc.parentNode.insertBefore(wsc, ssc);
            })();
        </script>
        <!-- End of Woopra Code -->
        
  }

	</body>
</html>