@model eclectica.co.uk.Web.Models.TagEntriesViewModel

@{
    ViewBag.Title = @Model.TagName.Capitalise() + " - Category Index - Eclectica";
    Layout = "~/Views/Shared/" + ((Model.Mobile) ? "Mobile" : "Main") + "Layout.cshtml";
}

@section head {

    <script type="text/javascript" src="/scripts/thumbtips.js"></script>
    
}

@section content {

    <h1 class="postdate">Articles filed under @Model.TagName</h1>

    <div class="post">

    @foreach (var entry in Model.EntryDictionary)
    {    
        <h2>@entry.Key</h2>
        
        if(!Model.Mobile) {
            
        <div id="monththumbnails">
            
            @{ var count = 0; }

            @foreach (var e in entry.Value)
            {
                count++;
                
                <div@Html.Raw(((count % 7) == 0) ? " class=\"r\"" : "") style="background-image: url(@ConfigurationManager.AppSettings["CDN1"]/content/img/@e.Thumbnail);"><a href="/@e.Url">@EntryHelpers.GetCaption(e.Title, e.Body)</a></div>
            }
            
        </div>
        <div class="clr">&nbsp;</div>
        
            } else {
        <ul>

        @foreach (var e in entry.Value)
        {

            if (string.IsNullOrEmpty(e.Title))
            {
                
                <li><a href="/@e.Url">@e.Published.ToString("dddd dd, HH:mm")</a>: @e.Body.StripHtml()</li>
            
            }
            else
            {
                
                <li>@e.Published.ToString("dddd dd, HH:mm"): <a href="/@e.Url"><b>@e.Title</b></a></li>
            
            }
        }

        </ul>
        }
    }

    </div>

}